@import "./colors.css";

h1{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 4rem;
}

label{
  min-width: 10rem;
}

img{
  margin-left: 2rem;
}

input #file-upload-button{
  border-radius: 5rem;;
}

.form-image{
  display: flex;
}

.image{
  border: none;
}

.image:hover{
  cursor: pointer;
  box-shadow: none;
}

.cad{
    margin-left: 12rem;
}

.forms{
    max-width: 36rem;
    display: flex;
    margin: 0 auto;
    font-size: larger;
    justify-content: center;
    margin-top: 3rem;;
}

.form-group{
    display: flex;
    justify-content: center;
}

.form-group input, select, button{
    width: 26rem;
    height: 3rem;
    margin: 1rem;
}

.form-group label{
    justify-content: left;
    margin-right: 3rem;
    margin-top: 1.8rem;
}

.link{
    padding: 1rem;
  }
  
  .link a{
    font-size: larger;
    color: var(--red-bg);
    font-size: 1.3rem;
    transition: all 100ms ease-in-out;
  }
  
  .link a:hover{
    font-size: 1.5rem;
  }

