@import "./colors.css";

input #file-upload-button{
  border-radius: 5rem;;
}

.form-image{
  display: flex;
}

.image{
  border: none;
}

.image:hover{
  cursor: pointer;
  box-shadow: none;
}

.cad{
    margin-left: 12rem;
}

.forms{
    max-width: 36rem;
    display: flex;
    margin: 0 auto;
    font-size: larger;
    justify-content: center;
    margin-top: 3rem;;
}

.form-group{
    display: flex;
    justify-content: center;
}

.form-group input, select, button{
    width: 26rem;
    height: 3rem;
    margin: 1rem;
}

.form-group label{
    justify-content: left;
    margin-right: 3rem;
    margin-top: 1.8rem;
}

.link{
    padding: 1rem;
  }
  
  .link a{
    font-size: larger;
    color: var(--red-bg);
    font-size: 1.3rem;
    transition: all 100ms ease-in-out;
  }
  
  .link a:hover{
    font-size: 1.5rem;
  }

  .edit-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem 0 1rem;
  }

  .edit-group input, .edit-group select, .edit-group button{
    width: 22rem;
    min-height: 3rem;
    margin: 1rem;
}

  .content-radio{
    display: flex;
    transition: all 100ms ease-in-out;

}

.content-radio label:hover{
  font-size: 1.4rem;
  font-weight: 800;
  }

.content-radio input{
margin-right: 0.5rem;
}

.content-radio input:hover{
  box-shadow: 0 0 0 0;
  }

  .content-radio input:focus, .content-radio select:focus{
    box-shadow: 0 0 0 0;
  }

  .formComLabel1 label{
    min-width: 15rem;
  }